h1 {
    text-align: center;
}

.folder-info {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: #EFB;
    margin-bottom: 20px;
    font-style: italic;
}

.file-list {
    margin-top: 20px;
}

.item {
    padding: 10px;
    margin: 1px;
    border-bottom: 1px solid #669;
    display: flex;
    align-items: center;
}

.item a {
    text-decoration: none;
    color: #9BF;
}

.item a:hover {
    color: #BEF;
}

.raw-file-link {
    color: #BEF;
}

.raw-file-link:hover {
    color: #9FC;
}


.external-link {
    margin-left: 10px;
    font-size: 0.69em;
    color: #BEF;
}

.external-link:hover {
    color: #EF8;
}