/* Custom styles */
body {
    background-color: #000;
    /* Dark background color */
    color: #fff;
    /* Light font color */
    font-family: "Audiowide", sans-serif;
    /* Modern sci-fi font */
}

h1 {
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    margin: 6px;
}

h2 {
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
    margin: 6px;
}

h3 {
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    margin: 6px;
}

p {
    text-align: left;
    margin: 10px;
}

/* Flexbox container for the main content */
.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 auto;
    padding: 10px;
}

/* Flexbox container for the table */
.table-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


table.base {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 2px;
    background-color: #2b2b3f;
    text-align: left;
    font-size: 11pt;
    padding: 8px;
}

td {
    padding: 4px;
    vertical-align: top;
}

tr {
    margin: 3px;
}

/* Apply background color to even rows */
tr:nth-child(even) {
    background-color: #343452;
}

/* Apply background color to odd rows */
tr:nth-child(odd) {
    background-color: #26263e;
}

.form-container {
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: left;
    align-items: left;
}
form.label{
    font-size: larger;
    font-weight: bold;
}
form.base{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 2px;
    background-color: #2b2b3f;
    text-align: left;
    font-size: smaller;
    padding: 6px;
}

.card-container {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    flex-direction: column;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust max-width for smaller screens */
@media (max-width: 1000px) {
    .card-container {
        max-width: 100%;
    }
}

.menu-container {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

/* Adjust max-width for smaller screens */
@media (max-width: 1000px) {
    .menu-container {
        max-width: 100%;
    }
}

.menu-button {
    display: block;
    box-sizing: content-box;
    width: 90%;
    margin: 5px;
    padding: 12px;
    text-align: center;
    background-color: #17a2b8;
    /* Dark button background color */
    color: #fff;
    /* Light button font color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* Remove underline */
}

.menu-button.menu-button-small {
    width: 65%;
    padding: 3px;
}

.menu-button:hover {
    background-color: #0f7a87;
    /* Darker shade on hover */
}

.status-indicator {
    display: none;
    margin-bottom: 10px;
    color: #007bff;
}